<div class="reservations-list">
  <h2>Liste des Réservations</h2>

  <!-- Search Bar -->
  <input type="text" class="form-control mb-3" placeholder="Rechercher par nom ou date..." [(ngModel)]="searchQuery">

  <button class="btn btn-success mb-3" (click)="openReservationForm()">Créer une Réservation</button>

  <div *ngIf="filterReservations().length === 0">
    <p>Aucune réservation trouvée.</p>
  </div>

  <div *ngFor="let reservation of filterReservations()" class="reservation-item">
    <p>
      📅 <strong>Jour:</strong> {{ formatDate(reservation.datetime) }}<br>
      🕒 <strong>Créneau Horaire:</strong> {{ getTimeSlot(reservation.datetime) }}<br>
      👥 <strong>Nombre de personnes:</strong> {{ reservation.num_people }}<br>
      👤 <strong>Client:</strong> {{ reservation.client_name }}
    </p>

    <button class="btn btn-primary" (click)="openReservationForm(reservation)">Modifier</button>
    <button class="btn btn-danger" (click)="deleteReservation(reservation.id)">Supprimer</button>
  </div>
</div>
