<div class="dashboard">
  <h1>Tableau de bord</h1>

  <div *ngIf="isAdmin; else userDashboard">
    <h2>Admin Dashboard</h2>
    <p>📌 Nombre total de clients : {{ totalClients }}</p>
    <p>📌 Nombre total de réservations : {{ totalReservations }}</p>

    <button routerLink="/admin/clients" class="btn btn-primary">Gérer les clients</button>
    <button routerLink="/tables" class="btn btn-secondary">Gérer les tables</button>
    <button routerLink="/reservations" class="btn btn-warning">Gérer les réservations</button>
  </div>

  <ng-template #userDashboard>
    <h2>Client Dashboard</h2>
    <p>📌 Nombre de vos réservations à venir : {{ totalReservations }}</p>

    <button routerLink="/reservations" class="btn btn-primary">Voir mes réservations</button>
    <button routerLink="/profile" class="btn btn-secondary">Modifier mon profil</button>
  </ng-template>
</div>
