<form [formGroup]="clientForm" (ngSubmit)="submitClient()">

  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>

  <div *ngIf="successMessage" class="alert alert-success">
    {{ successMessage }}
  </div>

  <div class="form-group">
    <label for="name">Nom:</label>
    <input type="text" id="name" class="form-control" formControlName="name" required>
  </div>

  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" id="email" class="form-control" formControlName="email" required>
  </div>

  <div *ngIf="!isEditMode" class="form-group">
    <label for="password">Mot de Passe:</label>
    <input type="password" id="password" class="form-control" formControlName="password" required>
  </div>

  <div *ngIf="!isEditMode" class="form-group">
    <label for="confirmPassword">Confirmer le Mot de Passe:</label>
    <input type="password" id="confirmPassword" class="form-control" formControlName="confirmPassword" required>
  </div>

  <div class="form-group form-check">
    <input type="checkbox" id="is_admin" class="form-check-input" formControlName="is_admin">
    <label for="is_admin" class="form-check-label">Est Admin</label>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="!clientForm.valid">
    {{ isEditMode ? 'Mettre à Jour' : 'Créer' }}
  </button>

</form>
